* {
  box-sizing: border-box;
}

html, body { 
  height: 100%; 
  margin: 0; 
  padding:0; 
}
html {
  font-size: 70px;
}
:root {
  --background-color: hsl(0, 100%, 30%);
}

body {
  overflow-x: hidden;

  background: #ffcacf;
  background-image: 
	  linear-gradient(90deg, #e08e8a 13px, transparent 0),
	  linear-gradient(90deg, #fce8ea 23px, transparent 0),
	  linear-gradient(90deg, #f7c5c8 39px, transparent 0),
	  
	  linear-gradient(90deg, #e08e8a 61px, transparent 0),
	  linear-gradient(90deg, #fce8ea 67px, transparent 0),
	  linear-gradient(90deg, #f7c5c8 83px, transparent 0);
	  
  background-size: 41px 100%, 67px 100%, 97px 100%, 103px 100%, 127px 100%, 151px 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%; 
}

main {
  position: relative;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
}

#congrats {
  display: none;
} 

#congrats {
  font-size: 0.8rem;
  background-color: white;
  color: var(--background-color);
  border: 5px dashed var(--background-color);
  position: absolute; 
  top: 50%; left: 50%;
  animation: 0.5s cubic-bezier(.25,.1,.43,1.49) forwards stamp;

}
@keyframes stamp {
  from {
    transform: translate(-50%, -50%) rotate(-20deg) scale(3);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) rotate(-20deg) scale(1);
    opacity: 0.7;
  }
}

@media screen and (max-width: 700px) {
    html {
      font-size: 56px;
    }
}

@media screen and (min-width: 2000px) {
    html {
      font-size: 130px;
    }
}